pipeline/Fail Activity.json
{
	"name": "Fail Activity",
	"properties": {
		"activities": [
			{
				"name": "Fail Activity",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Invalid_path",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_adf_poojadattatri_user_profile_001_output",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Fail",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Fail Activity",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('Fail Activity').output.errors[0].message",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@activity('Fail Activity').output.errors[0].Code",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Data Movement Activity/Fail Activity"
		},
		"annotations": []
	}
}