pipeline/Set variable pipeline 001.json
{
	"name": "Set variable pipeline 001",
	"properties": {
		"activities": [
			{
				"name": "Set Length",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "length",
					"value": "10"
				}
			},
			{
				"name": "Set breadth",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "breadth",
					"value": "20"
				}
			},
			{
				"name": "Area Calcualtion",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set breadth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Area",
					"value": {
						"value": "@{mul(\r\n    int(variables('length')),\r\n    int(variables('breadth'))\r\n    )\r\n}    ",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"length": {
				"type": "String"
			},
			"breadth": {
				"type": "String"
			},
			"Area": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Data Movement Activity/Set variable"
		},
		"annotations": []
	}
}